<!DOCTYPE html>
<html>
  <head>
    <title>Karthik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="width:100%">
      <div style="width:40%;float:left;background:green;">
        Sidebar
      </div>      
      <div style="width:60%;float:left;background:#efefef">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
          <%= yield %>
      </div>
    </div>

  </body>
</html>
